{% extends "base.html" %}
{% block content %}

<h2>編集</h2>

<h2 class="text-center mb-4">✏ 代講編集</h2>

<form method="POSt" class="container" style="max-width:500px;">

    <div class="mb-3">
        <label>日付</label>
        <input type="text" name="date" value="{{ date }}" class="form-control" readonly>
    </div>

    <div class="mb-3">
        <label>限目</label>
        <select name="period" class="form-control" multiple>
            <option value="1">1限</option>
            <option value="2">2限</option>
            <option value="3">3限</option>
            <option value="4">4限</option>
            <option value="5">5限</option>
            <option value="6">6限</option>
            <option value="7">7限</option>
        </select>
    </div>

    <div class="mb-3">
        <label>時間</label>
        <input type="text" name="time" class="form-control">
    </div>

    <div class="mb-3">
        <label>担当先生</label>
        <input type="text" name="teacher" class="form-control">
    </div>

    <div class="mb-3">
        <label>状態</label>
        <select name="status" class="form-control" onchange="toggleSubTeacher(this)">
            <option value="未定">未定</option>
            <option value="決定">決定</option>
        </select>
    </div>

    <div class="mb-3" id="subTeacherField" style="display:none;">
        <label class="form-label">代講先生</label>
        <input name="sub_teacher" class="form-control">
    </div>

    <div class="mb-3">
        <label>メモ</label>
        <textarea name="note" class="form-control"></textarea>
    </div>

    <button type="submit" class="btn btn-success w-100">更新</button>
    <burron type="submit" name="action" value="delete" class="btn btn-danger w-100 mt-2">削除</burron>

    <button 
</form>

<script>
function toggleSubTeacher(select){
    const sub = document.getElementById("subTeacherField");
    sub.style.display = select.value === "決定" ? "block" : "none";
}
window.addEventListener("DOMContentLoaded",function(){
    const select =document.querySelector('select[name="status"]');
    if (select) {
        toggleSubTeacher(select);
    }
});
</script>

{% endblock %}